<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans        
    http://www.springframework.org/schema/beans/spring-beans.xsd        
    http://code.alibabatech.com/schema/dubbo        
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="system_app_service_provider" />

	<!-- 服务实现bean与需要暴露的服务接口 -->
	<bean id="userService" class="com.ln.demo.provider.system.service.UserServiceImpl" />
	<dubbo:service interface="com.ln.demo.api.system.service.UserService" ref="userService" />
	
	<bean id="resourceService" class="com.ln.demo.provider.system.service.ResourceServiceImpl" />
	<dubbo:service interface="com.ln.demo.api.system.service.ResourceService" ref="resourceService" />
	
	<bean id="routerService" class="com.ln.demo.provider.system.service.RouterServiceImpl" />
    <dubbo:service interface="com.ln.demo.api.system.service.RouterService" ref="routerService" />
	
	<bean id="roleService" class="com.ln.demo.provider.system.service.RoleServiceImpl" />
	<dubbo:service interface="com.ln.demo.api.system.service.RoleService" ref="roleService" />

	<!-- 使用zookeeper注册中心暴露服务地址 -->
	<!-- <dubbo:registry address="zookeeper://127.0.0.1:2181" /> -->

	<!-- 使用multicast广播注册中心暴露服务地址 -->
	<dubbo:registry address="multicast://224.5.6.7:1234" />

	<!-- 用dubbo协议在6060端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="6060" />

</beans>